In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from pandas_profiling import ProfileReport
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate
from sklearn import tree

In [48]:
data =  pd.read_csv('data/letter-recognition.data', sep=",", header = None)
data

      0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0      T   2   8   3   5   1   8  13   0   6   6  10   8   0   8   0   8
1      I   5  12   3   7   2  10   5   5   4  13   3   9   2   8   4  10
2      D   4  11   6   8   6  10   6   2   6  10   3   7   3   7   3   9
3      N   7  11   6   6   3   5   9   4   6   4   4  10   6  10   2   8
4      G   2   1   3   1   1   8   6   6   6   6   5   9   1   7   5  10
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
19995  D   2   2   3   3   2   7   7   7   6   6   6   4   2   8   3   7
19996  C   7  10   8   8   4   4   8   6   9  12   9  13   2   9   3   7
19997  T   6   9   6   7   5   6  11   3   7  11   9   5   2  12   2   4
19998  S   2   3   4   2   1   8   7   2   6  10   6   8   1   9   5   8
19999  A   4   9   6   6   2   9   5   3   1   8   1   8   2   7   2   8

[20000 rows x 17 columns]

In [49]:
columnNames = ["lettr", "x_box", "y_box", "width", "thigh", "onpix", "x_bar", "y_bar", "x2_bar", "y2_bar", "xy_bar", "x2y_br", "xy2br", "x_ege", "xegvy", "y_ege", "yegvx"]

In [50]:
data.columns = columnNames

In [51]:
HandK = data[(data['lettr'] == 'H') | (data['lettr'] == 'K')]
HandK

,lettr,x_box,y_box,width,thigh,onpix,x_bar,y_bar,x2_bar,y2_bar,xy_bar,x2y_br,xy2br,x_ege,xegvy,y_ege,yegvx
21,H,4,5,5,4,4,7,7,6,6,7,6,8,3,8,3,8
28,H,6,9,8,7,6,8,6,6,7,7,7,9,6,8,4,8
64,H,3,3,4,1,2,8,7,5,6,7,6,8,5,8,3,7
66,H,3,5,5,4,3,7,8,3,6,10,6,8,3,8,3,8
69,H,8,12,8,6,4,9,8,4,5,8,4,5,6,9,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19921,K,7,14,8,8,5,9,6,3,5,11,3,7,5,7,4,8
19931,K,3,1,5,3,3,6,7,4,8,7,6,11,3,8,5,9
19937,H,3,8,5,6,4,8,8,7,7,7,5,7,3,8,3,7
19957,H,5,7,8,5,5,9,7,3,6,10,4,7,5,8,4,9
19978,K,5,11,5,8,5,3,8,7,3,6,4,11,3,8,2,11

In [52]:
MandY = data[(data['lettr'] == 'M') | (data['lettr'] == 'Y')]
MandY

,lettr,x_box,y_box,width,thigh,onpix,x_bar,y_bar,x2_bar,y2_bar,xy_bar,x2y_br,xy2br,x_ege,xegvy,y_ege,yegvx
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8
13,M,6,9,8,6,9,7,8,6,5,7,5,8,8,9,8,6
26,M,7,11,11,8,9,3,8,4,5,10,11,10,10,9,5,7
34,M,6,9,9,7,6,5,6,3,5,10,9,9,8,5,2,7
50,Y,7,11,9,8,8,9,5,6,4,7,8,8,3,9,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19940,Y,6,9,5,5,2,5,9,3,3,10,9,5,3,10,3,4
19949,M,5,8,7,6,7,8,6,6,5,7,7,10,11,6,2,9
19979,M,6,9,10,7,12,7,5,3,2,7,5,8,15,7,4,6
19982,Y,3,9,5,6,3,7,9,1,6,6,11,8,2,11,2,7
19985,M,5,6,8,4,5,9,6,2,4,9,5,7,8,6,2,8

In [53]:
yDataHandK = HandK.lettr
yDataMandY = MandY.lettr
XDataHandK = HandK.drop(["lettr"], axis=1)
XDataMandY = MandY.drop(["lettr"], axis=1)

In [54]:
XDataMandY

,x_box,y_box,width,thigh,onpix,x_bar,y_bar,x2_bar,y2_bar,xy_bar,x2y_br,xy2br,x_ege,xegvy,y_ege,yegvx
9,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8
13,6,9,8,6,9,7,8,6,5,7,5,8,8,9,8,6
26,7,11,11,8,9,3,8,4,5,10,11,10,10,9,5,7
34,6,9,9,7,6,5,6,3,5,10,9,9,8,5,2,7
50,7,11,9,8,8,9,5,6,4,7,8,8,3,9,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19940,6,9,5,5,2,5,9,3,3,10,9,5,3,10,3,4
19949,5,8,7,6,7,8,6,6,5,7,7,10,11,6,2,9
19979,6,9,10,7,12,7,5,3,2,7,5,8,15,7,4,6
19982,3,9,5,6,3,7,9,1,6,6,11,8,2,11,2,7
19985,5,6,8,4,5,9,6,2,4,9,5,7,8,6,2,8

In [55]:
X_train_MandY, X_test_MandY, y_train_MandY, y_test_MandY = train_test_split(XDataMandY, yDataMandY, test_size=0.1, random_state=42)
X_train_HandK, X_test_HandK, y_train_HandK, y_test_HandK = train_test_split(XDataHandK, yDataHandK, test_size=0.1, random_state=42)

In [56]:
# profile = ProfileReport(data, title="Pandas Profiling Report")
# profile

## M and Y

###### Random Forest Classifier

In [57]:
X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                           random_state=42, shuffle=True)
randomForest = RandomForestClassifier(max_depth=2, random_state=0)
cv_results = cross_validate(randomForest, X_train_MandY, y_train_MandY, cv=5)
cv_results

{'fit_time': array([0.15629959, 0.16637778, 0.16401315, 0.13712311, 0.15232801]),
 'score_time': array([0.01448917, 0.01252365, 0.01104522, 0.01159263, 0.01257396]),
 'test_score': array([0.98591549, 0.98239437, 0.98591549, 0.96478873, 0.97535211])}

In [58]:
randomForest.fit(X_train_MandY, y_train_MandY)
y_pred = randomForest.predict(X_test_MandY)
accuracy_score(y_test_MandY, y_pred)

0.9746835443037974

###### Decision Tree Classifier

In [59]:
decisionTree = tree.DecisionTreeClassifier()
cv_results = cross_validate(decisionTree, X_train_MandY, y_train_MandY, cv=5)
cv_results

{'fit_time': array([0.00848627, 0.00466561, 0.00495934, 0.00452137, 0.00399208]),
 'score_time': array([0.00200152, 0.00202131, 0.00300837, 0.00099325, 0.00154138]),
 'test_score': array([0.99295775, 0.98943662, 0.98943662, 0.99295775, 0.98239437])}

In [60]:
decisionTree.fit(X_train_MandY, y_train_MandY)
y_pred = decisionTree.predict(X_test_MandY)
accuracy_score(y_test_MandY, y_pred)

0.9810126582278481

## H and K

###### Random Forest Classifier

In [61]:
X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                           random_state=42, shuffle=True)
randomForest = RandomForestClassifier(max_depth=2, random_state=0)
cv_results = cross_validate(randomForest, X_train_HandK, y_train_HandK, cv=5)
cv_results

{'fit_time': array([0.13859105, 0.1704638 , 0.15322638, 0.13288355, 0.13369751]),
 'score_time': array([0.01458311, 0.01337075, 0.01153636, 0.01204967, 0.01060891]),
 'test_score': array([0.84150943, 0.90943396, 0.86037736, 0.85283019, 0.8       ])}

In [62]:
randomForest.fit(X_train_HandK, y_train_HandK)
y_pred = randomForest.predict(X_test_HandK)
accuracy_score(y_test_HandK, y_pred)

0.8851351351351351

###### Decision Tree Classifier

In [63]:
decisionTree = tree.DecisionTreeClassifier()
cv_results = cross_validate(decisionTree, X_train_HandK, y_train_HandK, cv=5)
cv_results

{'fit_time': array([0.00749302, 0.00848436, 0.00565624, 0.00598574, 0.00598621]),
 'score_time': array([0.00318146, 0.00299478, 0.00099874, 0.003546  , 0.00202155]),
 'test_score': array([0.9509434 , 0.94716981, 0.93207547, 0.93207547, 0.90188679])}

In [64]:
decisionTree.fit(X_train_HandK, y_train_HandK)
y_pred = decisionTree.predict(X_test_HandK)
accuracy_score(y_test_HandK, y_pred)

0.9864864864864865